.card {
  background: rgba(238, 255, 2, 0.945);
  border-radius: 10px;
  height: 250px;
  margin: 1rem;
  position: relative;
  display: table;
  width: 250px;
  box-shadow: 0 2px 15px rgb(158, 2, 132), 0 10px 15px rgb(255, 153, 238);
}

.card > .img-container {
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  overflow: hidden;

  
}
.card > .img-container > img {
  max-width: 90%;
  max-height: 225px;
      
}

.card:hover {
  box-shadow: 0 3px 20px rgb(117, 255, 89), 0 0px 10px rgb(117, 255, 89);
  transition: box-shadow .25s ease;
  transition: border .15s ease;
  border: 3px solid rgba(249, 79, 255, 0.541);
}


/*hover properties*/
.img-hover-zoom {
  overflow: hidden; 
}

.img-hover-zoom img {
  transition: transform .70s ease;
}

.img-hover-zoom:hover img {
  transform: scale(1.75);
}